@charset "utf-8";

.ribbon {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon > span {
  font-size: .7em;
  font-weight: bold;
  color: #FFF !important;
  text-align: center;
  line-height: 20px;
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  padding-bottom: 1px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: -1px;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: -1px;
}

  .ribbon.bottom-right span:after {
    margin-top: -0.03rem;
  }

.ribbon.top-left {
    left: -0.38rem;
    top: -0.23rem;
}

    .ribbon.top-left span {
        -webkit-transform: rotate( -45deg );
                transform: rotate( -45deg );

        left: -20px;
        top: 18px;
    }

.ribbon.top-right {
    right: -0.3rem;
    top: -0.2rem;
}

    .ribbon.top-right span {
        -webkit-transform: rotate( 45deg );
                transform: rotate( 45deg );

        right: -20px;
        top: 18px;
    }

.ribbon.bottom-right {
    right: -0.34rem;
    bottom: -0.38rem;
}

    .ribbon.bottom-right span {
        -webkit-transform: rotate( -225deg );
                transform: rotate( -225deg );

        right: -21px;
        bottom: 19px;
    }

.ribbon.bottom-left {
    left: -0.41rem;
    bottom: -0.37rem;
}

    .ribbon.bottom-left span {
        -webkit-transform: rotate( 225deg );
                transform: rotate( 225deg );

        left: -20px;
        bottom: 19px;
    }

/** Ribbon Colors - OverWorld */

.ribbon span.overworld {
    background: #1979A7;
    background: linear-gradient( #1979A7 0%, #030D17 100% );
}

    .ribbon span.overworld:before {
        border-left: 3px solid #1979A7;
        border-top: 3px solid #1979A7;
    }

    .ribbon span.overworld:after {
        border-right: 3px solid #1979A7;
        border-top: 3px solid #1979A7;
    }

/** Ribbon Colors - UnderWorld */

.ribbon span.underworld {
    background: #790202;
    background: linear-gradient( #DD0404 0%, #180202 100% );
}

    .ribbon span.underworld:before {
        border-left: 3px solid #790202;
        border-top: 3px solid #790202;
    }

    .ribbon span.underworld:after {
        border-right: 3px solid #790202;
        border-top: 3px solid #790202;
    }

/** Ribbon Colors - Mipedian */

.ribbon span.mipedian {
    background: #AA8D05;
    background: linear-gradient( #AA8D05 0%, #221D0C 100% );
}

    .ribbon span.mipedian:before {
        border-left: 3px solid #AA8D05;
        border-top: 3px solid #AA8D05;
    }

    .ribbon span.mipedian:after {
        border-right: 3px solid #AA8D05;
        border-top: 3px solid #AA8D05;
    }

/** Ribbon Colors - Danian */

.ribbon span.danian {
    background: #2E231A;
    background: linear-gradient( #6F553F 0%, #120E0D 100% );
}

    .ribbon span.danian:before {
        border-left: 3px solid #2E231A;
        border-top: 3px solid #2E231A;
    }

    .ribbon span.danian:after {
        border-right: 3px solid #2E231A;
        border-top: 3px solid #2E231A;
    }

/** Ribbon Colors - M'arrillian */

.ribbon span.marrillian {
    background: #15313F;
    background: linear-gradient( #265972 0%, #020202 100% );
}

    .ribbon span.marrillian:before {
        border-left: 3px solid #15313F;
        border-top: 3px solid #15313F;
    }

    .ribbon span.marrillian:after {
        border-right: 3px solid #15313F;
        border-top: 3px solid #15313F;
    }

.ribbon span.generic {
    background: #030303;
    background: linear-gradient( #757575 0%, #030303 100% );
}

    .ribbon span.generic:before {
        border-left: 3px solid #030303;
        border-top: 3px solid #030303;
    }

    .ribbon span.generic:after {
        border-right: 3px solid #030303;
        border-top: 3px solid #030303;
    }

/** Ribbon Colors - Locations */

.ribbon span.location {
    background: #4F8F38;
    background: linear-gradient( #4F8F38 0%, #03160C 100% );
}

    .ribbon span.location:before {
        border-left: 3px solid #4F8F38;
        border-top: 3px solid #4F8F38;
    }

    .ribbon span.location:after {
        border-right: 3px solid #4F8F38;
        border-top: 3px solid #4F8F38;
    }

/** Ribbon Colors - Battlegears */

.ribbon span.battlegear {
    background: #59728A;
    background: linear-gradient( #59728A 0%, #070809 100% );
}

    .ribbon span.battlegear:before {
        border-left: 3px solid #59728A;
        border-top: 3px solid #59728A;
    }

    .ribbon span.battlegear:after {
        border-right: 3px solid #59728A;
        border-top: 3px solid #59728A;
    }

/** Ribbon Colors - White */

.ribbon span.whitey {
    background: #b0b5c2;
    background: linear-gradient( #eaecf2 0%, #b0b5c2 100% );
    color: #2f2f2f !important;
    font-size: .8em;
}

    .ribbon span.whitey:before {
        border-left: 3px solid #b0b5c2;
        border-top: 3px solid #b0b5c2;
    }

    .ribbon span.whitey:after {
        border-right: 3px solid #b0b5c2;
        border-top: 3px solid #b0b5c2;
    }