@charset "utf-8";

@import url( 'vendor.css' );

html, body {
    background: #FFF;
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
}

body {
    position: relative;
}

a, a:link, a:visited {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #888;
}

a.important, a.important:link, a.important:visited, a.important:hover {
    color: #31708f !important;
}

blockquote {
    border: none !important;
    /*margin: 0.5rem 0 2rem 0;*/
    margin: 2.5rem 3rem 2rem 0;
}

    blockquote p {
        margin: 0;
    }

    blockquote.reverse:after {
        align-self: flex-start;
        content: "\f10e";
        display: flex;
        font-family: FontAwesome;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    blockquote.reverse cite {
        display: flex;
        justify-content: flex-end;
    }

        blockquote.reverse cite:before {
            content: "\2014 \00A0";
            padding: 0 0.5rem;
        }

/**
 * @internal
 *
 * As replacement for the now deprecated 'scrolling' attribute for <iframe>
 */
iframe{
    overflow:hidden;
}

footer {
  background-color: #F5F5F5;
  bottom: 0;
  color: #888;
  font-size: .8rem;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

ul.list-dashed > li:before {
  content: "-";
  padding-right: 5px;
}

#TableOfContents {
    margin-top: 0.5rem;
}

#TableOfContents > ul {
    margin-left: -4.7rem;
}

  #TableOfContents ul > li {
      list-style-type: none;
      margin-left: -0.7rem;
  }

.navbar {
    box-shadow: 0 3px 5px -2px #0D0D0D;
    padding: 0.1rem 1rem !important;
    z-index: 1030;
}

  .navbar .nav {
      display: inline !important;
  }

  .navbar-brand {
      font-size: 1.3rem;
      margin: 0.5rem 1rem 0.5rem 0;
      padding: 0 !important;
  }

    .navbar-brand a:hover {
      color: #2d6682 !important;
    }

  .navbar-toggler {
    margin-top: 0.5rem !important
  }

    .navbar-toggler-icon {
        height: 1em;
        width: 1em;
    }

.breadcrumb {
    font-family: "Quicksand";
    font-size: 0.9rem;
}

    .breadcrumb > div {
        max-width: 90%;
    }

    .breadcrumb .breadcrumb-item:before {
        color: #636c72;
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
    }

    .breadcrumb .breadcrumb-item:first-child:before {
        padding-right: 0.5rem;
    }

    .breadcrumb-item.active {
        font-weight: bold;
    }

/**
 * Language Menu
 */
#languages {
  margin-top: -4px;
}

  #languages button {
    background-color: 292b2c;
    color: #888;
    font-size: 0.85rem;
  }

    #languages button:focus, button:hover {
      box-shadow: none;
    }

  #languages img {
    margin: -0.1rem 0.5rem 0 0;
  }

  #languages .dropdown-menu {
    font-size: 0.85rem;
    padding-left: 15px;
  }

    #languages .dropdown-menu li {
      margin-bottom: 5px;
    }

      #languages .dropdown-menu li:last-child {
        margin-bottom: 0;
      }

    #languages .dropdown-toggle::after {
        margin: -0.1rem -0.2rem 0 0.4rem !important;
    }

    /**
     * @internal
     *
     * Undoes the `cursor: pointer` above when no link ha sbeen built
     */
    #languages .no-link {
        cursor: not-allowed;
    }

    /**
     * @internal
     *
     * Make all links the same color
     */
    #languages ul li li a {
        color: #292b2c;
    }

#navigation {
    font-size: 0.9rem;
    line-height: 2.2rem;
}

  #navigation .navbar-nav {
    margin-top: 4px;
  }

  #navigation .dropdown-toggle::after {
      margin: -0.1rem 0 0 0.7rem !important;
  }

.ads ins {
    display: block;
}

.sidebar .ads {
    margin: 6rem 0;
    position: sticky;
    top: 1rem;
}

    /**
     * @internal
     *
     * Google AdSense Blocks don't like Flexbox o.O
     */
    .cards.ads {
        margin: 1.45rem 0 1.4rem 0.95rem;
    }

.listing .in-feed-ads {
    margin: 0 15px; /** Left/Right Accordingly to Bootstrap's Grid padding */
    display: block;
    height: 100%;
    min-height: 250px;
    width: 100%;
}

.page .in-article-ads {
    margin-top: .15rem;
}

/**
 * @internal
 *
 * Flexbox `align-items` will align the item in the whole viewport.
 * Because we have fixed Navigation Bar and Footer this looks out
 * of place, so let's adjust
 */
#home {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    height: 80vh;
    margin-top: 1vh;
}

    #home > div {
        align-self: center;
    }

    #home h2 {
        color: #757575;
        font-size: 1rem;
        margin-top: 2rem;
    }

/**
 * Listing Pages
 */
.listing {
    margin: 3vh 0 10vh 0;
}

    .listing h2 {
        font-size: 2rem
    }

        .listing .title small {
            color: #777;
            display: inline-flex;
            font-size: 70%;
            margin-top: .4rem
        }

            .listing .title.hidden-sm-up small {
                font-size: 1.24rem;
                margin-top: -0.4rem;
            }

        .listing .title span {
            color: #777;
            font-size: 70%;
            margin: .35rem .5rem 0 .6rem
        }

    .listing h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: .84rem;
        font-weight: bold;
        line-height: 1.15rem
    }

        .listing h3.hidden-sm-up {
            font-size: 1.2rem
        }

    .listing .card-deck {
        box-shadow: 8px 8px 8px -7px rgba( 0, 0, 0, 0.65 );
        margin-bottom: 1.5rem;
    }

        /**
         * @internal
         *
         * Overwriting Bootstrap's defaults to alleviate matchHeight.js effect
         */
        .listing .card-block {
            font-size: 0.95rem;
            font-weight: 300;
            line-height: 1.5rem;
        }

            .listing.videos .card-block {
                padding: 1.65rem 1.25rem 1.25rem 1.25rem;
            }

            .listing.cards .card-block {
                padding: 1rem;
            }

          .listing .card-deck.section-group .card-title {
              margin: 1rem 0 0.25rem 0;
          }

              .listing .card-deck .card {

                  -webkit-border-bottom-right-radius: 0 !important;
                      -moz-border-radius-bottomright: 0 !important;
                          border-bottom-right-radius: 0 !important;
              }

              .listing .card-title em {
                  padding: 0 0.35rem 0 0.1rem;
              }

            /**
             * @internal
             *
             * The default language (en) needs a bit more left padding
             * than others.
             */
            .listing .card-title.lang-en em {
                padding: 0 0.35rem 0 0.2rem;
            }

          .listing .card-title.title-only {
              margin-top: 0.85rem;
          }

        .listing .thumbnail {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 3.5rem;
            margin: 1rem -0.05rem -1rem 0;
            object-fit: cover;
            width: 100%;
        }

          .listing .card-deck:not(.section-group) .thumbnail {
              height: 10rem;
              margin: -0.1rem 0 0 -0.05rem !important;
              width: 100.7%;
          }

              .listing .card-deck.section-group .thumbnail.wip {
                  height: 4.5rem;
                  margin-top: -0.1rem;
                  width: 100.2%;
              }

        .listing.cards .video-container {
            height: 8rem;
        }

        .listing.cards .video-container .fa {
            color: #FFF;
            cursor: pointer;
            margin-top: 0.2rem;
            text-shadow: -0.1vh -0.1vh 0 rgba( 0, 0, 0, 0.5 ),
                          0.1vh -0.1vh 0 rgba( 0, 0, 0, 0.5 ),
                         -0.1vh  0.1vh 0 rgba( 0, 0, 0, 0.5 ),
                          0.1vh  0.1vh 0 rgba( 0, 0, 0, 0.5 );
        }

        .listing.cards .video-controls {
            position: absolute;
        }

        .listing .paginator .text {
            font-size: 0.9rem;
            margin-top: 0.1rem;
        }

        .listing .paginator .previous, .listing .paginator .first {
            margin-right: 0.5rem;
        }

        .listing .paginator .next, .listing .paginator .last {
            margin-left: 0.5rem;
        }

        .listing .paginator .first, .listing .paginator .last {
            margin-top: 0.05rem;
        }

        .paginator a:hover {
            color: #245269 !important;
        }

/**
 * Single Page
 */
.page {
    margin: 3vh 0 10vh 0;
}

    .page .toc {
        margin-left: -2.5rem;

        /**
         * @internal
         *
         * This provides a small spacing when the ToC Panel is closed
         */
        padding-bottom: 0.5rem;
    }

        /**
         * @internal
         *
         * reverts the additional spacing above
         */
        .page .toc-panel > div {
            padding-bottom: 0 !important;
        }

.page h2 {
    font-size: 2rem
}

.page h3 {
    font-size: 1.75rem;
}

    .page .toc h3 {
        cursor: pointer;
        font-size: 1.75rem;
        margin-left: 2.5rem;
    }

.page h3 {
    font-size: 1.5rem;
}

    .page h1 a, .page h2 a,
    .page h3 a, .page h4 a,
    .page h5 a, .page h6 a {
        border-style: none !important;
        color: currentColor !important;
    }

        .page:not(.videos) h4:before {
          content: "\f1dd";
          font-family: "FontAwesome";
          font-size: 1rem;
          position: relative;
          left: -1.5rem;
          top: -0.1rem;
          margin-right: -0.8rem;
          visibility: hidden;
        }

            .page:not(.videos) h4:hover:before {
                visibility: visible;
            }

    .page .title small {
        color: #777;
        display: inline-flex;
        font-size: 70%;
        margin-top: .4rem
    }

        .page .title.hidden-sm-up small {
            font-size: 1.24rem;
            margin-top: -0.4rem;
        }

        .page .title span {
            color: #777;
            font-size: 70%;
            margin: .35rem .5rem 0 .6rem
        }

        .page .title em {
            padding: 0 0.35rem 0 0.1rem;
        }

.page .nav-pills a.active {
  color: #FFF !important;
}

#server-selection {
  margin: 2.5vh 0 2.7vh 0;
}

.page .player {
  margin-top: 2.5vh;
}

/*.page .alert-warning {
  margin: 3vh 0 -0.3vh 0;
}

  .page .alert-warning span {
      border-bottom: 1px dotted #B20000 !important;
  }*/

.page .summary {
    margin-top: 1rem;
}

  .page .summary a {
      color: #1b3e50 !important;
      border-bottom: 1px dotted #1b3e50;
  }

.page .social {
  margin-top: -2.5vh;
}

.page .fb-like {
  margin-top: 2vh;
}

.page .twitter {
  background-color: #1b95e0;
  border-radius: 4px;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.1);
  box-sizing: border-box;
  color: #FFF !important;
  cursor: pointer;
  height: 28px;
  font: normal normal normal 13px/18px 'Helvetica Neue',Arial,sans-serif;
  font-weight: 500;
  line-height: 27px;
  margin: 16px 0 0 5px;
  padding: 1px 10px 28px 9px;
  position: relative;
}

  .page .twitter .fa {
    font-size: 18px;
    padding-right: 2px;
    position: relative;
    top: 2px;
  }

  .page .twitter .label {
    line-height: 28px;
  }

  #tags {
    list-style-type: none;
    padding: 0;
  }

    #tags li {
      border: 1px solid #292b2c;
      border-radius: 3px;
      box-shadow: 0 1px 0 #FFF;
      color: #292b2c;
      display: inline-block;
      margin: 5px;
      padding: 4px 6px;
    }

      #tags li span {
        display: inline-block;
        font-size: 0.95rem;
        overflow: hidden;
        max-width: 150px;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
      }

        #tags li span:before {
          content: '#';
        }

/**
 * Single Page: Creatures
 */
.page .creatures .card-data {
    margin-bottom: 2.5rem;
}

.page .picture {
    border-color: transparent;
    position: relative;
}

    /**
     * @internal
     *
     * When using border-radius with box-shadow together, for
     * some odd reason a thin white border appears in the corner
     * the shadow makes its curve (here, the right one — see below)
     *
     * So we've created an element with to match the colour in the Card
     * of the problematic corner and stacked it behind the image
     *
     * Here goes all the common definitions. Since the colour changes
     * accordingly to the Card type, it's defined below
     */
    .page .picture .white-corner-fix {
        border-bottom-right-radius: 0.55rem;
        bottom: 0px;
        height: 15px;
        position: absolute;
        right: 0;
        width: 15px;
        z-index: 1;
    }

    /**
     * @internal
     *
     * "Big Pictures" must be reduced a little bit to not be too big
     */
    .page .picture.big {
        width: 85%;
    }

    .page .picture .shadow {
        border-radius: 0.7rem;
        -webkit-box-shadow: 8px 8px 8px -5px rgba( 0, 0, 0, 1 );
           -moz-box-shadow: 8px 8px 8px -5px rgba( 0, 0, 0, 1 );
                box-shadow: 8px 8px 8px -5px rgba( 0, 0, 0, 1 );
    }

    .page .picture img {
        border-radius: 0.4rem;
        position: relative;
        z-index: 2;
    }

        .page .picture.big img {
            width: 100%;
        }

    .page .picture .caption {
        background-color: rgba( 0, 0, 0, 0.6 );
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        bottom: -1px;
        color: #FFF;
        margin-right: 1px;
        padding: 5px 10px 5px 5px;
        position: absolute;
        right: -1px;
        text-align: right;
        width: 100%;
        z-index: 3;
    }

.page .creatures .data {
    font-size: 0.85rem !important;
    margin: 0.5rem 1rem 0 1rem;
}

.page .creatures .tv-data {
    margin: -2.2rem -0.9rem 0 0;
}

.page .creatures .header {
    color: #FFF;
    padding: 0.5rem;
}

    .page .creatures .header img, .page .creatures .box img {
        width: 40%;
    }

.page .creatures .box {
    padding: 0.45rem;
}

.page .creatures dl.traits dt, .page .creatures dl.traits dd,
.page .creatures dl.tv dt, .page .creatures dl.tv dd {
    margin: 0 !important;
    padding: 0.5rem !important;
}

/**
 * Card Shortcode Box Colors
 *
 * 'header' and 'a' color *usually* come the rightmost corner of
 * Creature Card Background. *Usually* because that rule rendered UnderWorld
 * links too dark and unnoticeable
 *
 * .box', 'dl', 'dt' and 'dd' colours is something around +21 of color above on 0to255.com (adjust if needed)
 */
.page .creatures.underworld .picture .white-corner-fix, .page .creatures .underworld .header {
    background-color: #541424;
}

.page .creatures .underworld a {
    color: #900000;
}

.page .creatures .underworld p a,
.page .creatures .underworld dl a,
.page .creatures .underworld ul a {
    border-bottom: 1px dotted #900000
}

.page .creatures .underworld .box {
    background-color: #f6d7df;
}

.page .creatures.overworld .picture .white-corner-fix, .page .creatures .overworld .header {
    background-color: #114f98;
}

.page .creatures .overworld a {
    color: #186fd5;
}

.page .creatures .overworld p a,
.page .creatures .overworld dl a,
.page .creatures .overworld ul a {
    border-bottom: 1px dotted #186fd5;
}

.page .creatures .overworld .box {
    background-color: #eff5fd;
}

/**
 * @internal
 *
 * This closes the Creatures Data box on the right side (white)
 * without touching the left side (pink-ish)
 */
.page .creatures .overworld dl.traits, .page .creatures .overworld dl.tv {
    border-right: 1px solid #eff5fd;
}

    .page .creatures .overworld dt {
        color: #114f98;
    }

  .page .creatures .overworld dl.traits dd:last-child, .page .creatures .overworld dl.tv dd:last-child {
      border-bottom: 1px solid #eff5fd;

  }

.page .creatures .overworld dl.traits, .page .creatures .overworld dl.tv {
    border-right: 1px solid #eff5fd;
}

    .page .creatures .overworld dt {
        color: #114f98;
    }

  .page .creatures .overworld dl.traits dd:last-child, .page .creatures .overworld dl.tv dd:last-child {
      border-bottom: 1px solid #eff5fd;

  }

.credits dt {
    font-weight: bold;
}

/**
 * Throw any `ul` or `ol` into horizontal mode, as per csswizardry.com/2011/09/the-nav-abstraction
 *
 * <ul class=nav>
 *   <li><a href=/>Home</a></li>
 *   <li><a href=/about>About</a></li>
 *   <li><a href=/portfolio>Portfolio</a></li>
 *   <li><a href=/contact>Contact</a></li>
 * </ul>
 */
.nav {
    list-style: none;
    margin-left: 0;
}

    .nav > li, .nav > li > a {
       display: inline;
       zoom: 1;
    }

    /**
     * Create a vertically stacked nav by extending `.nav` with `.stacked`.
     *
     * <ul class="nav stacked">
     *   <li><a href=/>Home</a></li>
     *   <li><a href=/about>About</a></li>
     *   <li><a href=/portfolio>Portfolio</a></li>
     *   <li><a href=/contact>Contact</a></li>
     * </ul>
     */
    .stacked > li {
        display: list-item !important;
        margin-right: 7px;
    }

        .stacked > li > a {
            display: block;
        }

/**
 * Flyouts are pieces of content that fly out of a parent when said parent is hovered.
 * They typically appear bottom-left of the parent.
 *
 * <div class=flyout>
 *   Foo
 *   <div class=flyout-content>
 *     <h1>Lorem</h1>
 *     <p>Ipsum</p>
 *   </div>
 * </div>
 */
.flyout,
.flyout-alt {
    cursor: pointer;
    margin-right: 0.4rem;
    position: relative;
}

    .flyout-content {
        /* Position the flyouts off-screen. This is typically better than `display:none;`. */
        position: absolute;
        top: 100%;
        left: -99999px;

        /**
         * Even though they are out of document flow, lots of nested flyouts can
         * eventually force scroll bars to appear as they become taller than the viewport.
         * We can undo this effect by giving them zero height.
         */

        height: 0;
        overflow: hidden;
    }

    /**
     * Bring the flyouts into view when you hover their parents.
     * Two different types of flyout; ‘regular’ (`.flyout`) and ‘alternative’ (`.flyout-alt`).
     */
    /* Regular flyouts sit all the way from the top, flush left. */
    .flyout:hover > .flyout-content {
        left: 0;
    }

    /* Alternative flyouts sit all the way from the left, flush top. */
    .flyout-alt:hover > .flyout-content {
        top: 0;
        left: 100%;
    }

    .flyout:hover > .flyout-content,
    .flyout-alt:hover > .flyout-content{
        /* Give the flyouts their height back once they come into view. */
        height: auto;
        overflow: visible;
    }

      .flyout.flyout-right:hover > .flyout-content,
      .flyout-alt.flyout-right:hover > .flyout-content{
          left: auto;
          right: 0;
      }

    /**
     * Site nav specific flyouts, extension of `.flyout`.
     * Set up some styles to apply and persist when we hover things in the site nav.
     * This allows us to keep parents highlighted as we hover their contained flyouts [1].
     */
    .nav .flyout-content {
        /*background-color: #292b2c;*/
        background-color: #FFF;
        background-clip: padding-box;
        border: 1px solid rgba( 0, 0, 0, .15 );
        border-radius: .25rem;
        /*color: rgba( 255,255,255, .5 );*/
        color: #888;
        font-size: 1rem;
        margin: .125rem 0 0;
        padding: .5rem 0;
        z-index: 1000;
    }

        .nav .flyout-content li {
            font-size: .9rem;
            padding: 0 0.8rem 0 1.2rem;
            white-space: nowrap;
        }

/**
 * Extras
 */

span.hr {
    border-top: 1px solid rgba( 0,0,0,.1);
    display: inline-block;
    margin-top: 0.5rem;
    width: 95%;
}

.important {
    font-weight: bold;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}

/** Ribbons */

.ribbon {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon > span {
  font-size: .7em;
  font-weight: bold;
  color: #FFF !important;
  text-align: center;
  line-height: 20px;
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  padding-bottom: 1px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: -1px;
}

.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: -1px;
}

.ribbon.top-left {
    left: -0.4rem;
    top: -0.33rem;
}

    .ribbon.top-left span {
        -webkit-transform: rotate( -45deg );
                transform: rotate( -45deg );

        left: -1.25rem;
        top: 1.15rem;
    }

/** Ribbon Colors - Gray (Generic) */

.ribbon span.gray {
    background: #030303;
    background: linear-gradient( #757575 0%, #030303 100% );
}

    .ribbon span.gray:before {
        border-left: 3px solid #030303;
        border-top: 3px solid #030303;
    }

    .ribbon span.gray:after {
        border-right: 3px solid #030303;
        border-top: 3px solid #030303;
    }

/** Ribbon Colors - Red (UnderWorld) */

.ribbon span.red {
    background: #790202;
    background: linear-gradient( #DD0404 0%, #180202 100% );
}

    .ribbon span.red:before {
        border-left: 3px solid #790202;
        border-top: 3px solid #790202;
    }

    .ribbon span.red:after {
        border-right: 3px solid #790202;
        border-top: 3px solid #790202;
    }

/** Ribbon Colors - Dark Green (M'arrillian) */

.ribbon span.dark-green {
    background: #15313F;
    background: linear-gradient( #265972 0%, #020202 100% );
}

    .ribbon span.dark-green:before {
        border-left: 3px solid #15313F;
        border-top: 3px solid #15313F;
    }

    .ribbon span.dark-green:after {
        border-right: 3px solid #15313F;
        border-top: 3px solid #15313F;
    }

/**
 * @internal
 *
 * A few hacks to align Navigation elements nicely in both mobile
 * and desktop versions, overriding Bootstrap Media Queries
 */
@media (max-width: 767px) {

    #languages.hidden-sm-down {
        display: block !important;
        margin-top: -35px !important;
    }

    #navigation .navbar-nav.hidden-sm-down:not( .pull-right ) {
        display: block !important;
        margin-top: -4px !important;
    }

    #home h2 {
        font-size: 4.5vw;
    }

    .listing, .page {
        margin-bottom: 0 !important;
    }

    .listing .card-block {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .listing .card-deck:not(.section-group) .thumbnail {
        height: 13rem;
    }

        .listing .card-title.title-only {
            font-size: 1.2rem;
        }

    .listing .paginator, .listing .paginator .text {
        font-size: 1.3rem;
    }

      .listing .paginator .text {
          margin-top: -0.05rem;
      }

        /**
         * @internal
         *
         * Given all adjustments caused by the box-shadow and
         * everything needed to fix it the Card wrapper needs a bit
         * of padding to stay centred
         *
         * The value is the same of the 'right' property defined below
         */
        .page .picture._card {
            padding-left: 3px;
        }

    /**
     * @internal
     *
     * Stretches the image to fit the whole container and re-aligns
     * the shadow
     */
    .page .picture:not(.big) img {
        right: 3px;
        top: 6px;
        width: 99%;
    }

    /**
     * @internal
     *
     * By replacing `<figcaption>` with `<span>` -AND- after all the
     * trouble mentioned above, the captions need some love too
     */
    .page .picture:not(.big) .caption {
        background-color: rgba( 0, 0, 0, 0.65 );
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        bottom: -4px;
        margin-right: 2px;
        right: 5px;
        width: 98.5%;
    }

    /**
     * @internal
     *
     * Since on mobile the Card and Card Data don't stay side-by-side,
     * the white corner fix must be slightly adjusted
     */
    .page .picture .white-corner-fix {
        bottom: -4px;
        right: 7px;
    }

    .col.data {
        margin-top: 1rem !important;
    }

    /**
     * @internal
     *
     * Adds a bit of spacing when viewing on small resolutions since
     * this column will wrap below the previous one
     */
    .page .creatures .tv-data {
        margin-top: 0.5rem;
    }
}